<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="./css/main.css">
		</head>
		<body>
			<div class="header transparent" style="background-color: rgb(45, 52, 58);">
				<a class="logo" href="/"></a>
				<div class="hamburger"></div>
				<ul class="menu main">
					<li class="active"><a href="/data">Data</a></li><li><a href="/tools">Tools</a></li>
				</ul>

				<div class="workspace ">
					<a href="/workspace/projects" class=""><i class="icon-workspace"></i>Workspace</a>
					<ul class="dropdown">
						<li><a class="" href="/workspace/projects">User Projects<span class="count">0</span>
						</a>
						</li>
						<li class="new-project">
							<p>You don't have any projects yet.</p>
							<a href="/workspace/projects/create" class="button-holder">
								<div class="btn primary plus">Create User Project</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="right">
					<ul class="menu sub">
						<li><a href="/about">About</a></li><li><a href="https://clariah.github.io/mediasuite-info/">Documentation</a></li><li><a href="/contact">Contact</a></li>
					</ul>
				</div>
				<div class="cl_help">
					<div class="cl_button"></div>
					<div class="cl_container-help">
						<div class="cl_header">Data info
							<div class="cl_close"></div>
						</div>
						<div class="cl_scroll">
							<p>For researchers/end users of the Data services of the CLARIAH Media Suite:</p>
							<ul>
								<li>Open CKAN by using the "Visit CKAN" button at the end of this page. You will be redirected to an external service (http://mediasuitedata.clariah.nl/dataset), built using the CKAN registration software.
								</li>
								<li>In that page, you can see the datasets that are registered in CKAN by the Media Studies focus of CLARIAH.</li>
								<li>
									You can search registered datasets by using tags (thematic, media types), organizations (creators of the datasets or collections), or groups (groups are used to organise datasets by data provider). Please be aware that these tags, organizations and groups refer to the "dataset level", not to the content itself.

								</li>
								<li>
									If you want to search the content of the datasets, go to the "Tools" section of the Media Suite. You will find a "Collection selector" in each tool, which will give you the list of available/registered collections in CKAN that you can search or browse.

								</li>
								<li>
									Registering your own datasets is not supported yet. Please Contact us if you have any questions.
								</li>
							</ul>
							<p>
								For curators/data owners:
							</p>
							<p>
								The current instance of CKAN implemented for the CLARIAH media studies focus includes datasets that we have registered (by harvesting or importing them) on behalf of the collection owners. In the near future, more organisations can register their collections and add data themselves. Registration with an open licence is possible, but private access is also an option. The data itself can be added to each registered collection using different formats (e.g., XML, JSON, RDF). Please Contact us if you are interested in providing/enabling access to Data in CLARIAH in general, or in the CLARIAH Media Suite specifically.
							</p><p>
							Note: CLARIAH also offers other data registration services, merging these services is work in progress.</p>
							<ul>
								<li>
									Anansi presentation: https://www.clariah.nl/files/wp/wp2_anansi_project_brief.pdf
								</li>
								<li>
									Anansi video: https://vimeo.com/186090384
								</li>
							</ul>
							<p>
								Forquestions or suggestions related to the Data services of the CLARIAH Media Suite, please use our chat room in Gitter: https://gitter.im/CLARIAH-media-studies/Collections-Data

							</p>

						</div>
					</div>
				</div>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class="Footer ">
				<div class="content">
					<ul>
						<li>
							<div class="logo"></div>
							<h5>Version: 20171212</h5>
						</li>
					</ul>
					<ul>
						<li>
							<a href="/tools">Tools</a>
						</li>
						<li>
							<a href="/data">Data</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="https://clariah.github.io/mediasuite-info/">Documentation</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="/worspace">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</body>
	</html>
