<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="./css/main.css">
			<link rel="shortcut icon" type="image/jpeg" href="favicon.png" />
			<link rel="icon" type="image/jpeg" href="favicon.png" />
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		</head>
		<body>
			<div class="header transparent" style="background-color: rgb(45, 52, 58);">
				<a class="logo" href="/"></a>
				<div class="hamburger"></div>
				<ul class="menu main">
					<li class="active"><a href="/data">Data</a></li><li><a href="/tools">Tools</a></li>
				</ul>

				<div class="workspace ">
					<a href="/workspace/projects" class=""><i class="icon-workspace"></i>Workspace</a>
					<ul class="dropdown">
						<li><a class="" href="/workspace/projects">User Projects<span class="count">0</span>
						</a>
						</li>
						<li class="new-project">
							<p>You don't have any projects yet.</p>
							<a href="/workspace/projects/create" class="button-holder">
								<div class="btn primary plus">Create User Project</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="right">
					<ul class="menu sub">
						<li><a href="/about">About</a></li><li><a href="https://clariah.github.io/mediasuite-info/">Documentation</a></li><li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class="Footer ">
				<div class="content">
					<ul>
						<li>
							<div class="logo"></div>
							<h5>Version: 20171212</h5>
						</li>
					</ul>
					<ul>
						<li>
							<a href="/tools">Tools</a>
						</li>
						<li>
							<a href="/data">Data</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="https://clariah.github.io/mediasuite-info/">Documentation</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="/worspace">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</body>
	</html>
